<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="../styles/history.css">
</head>
<body>

  <header>
    <div class="header-left">
      <div class="nav-left">
        <div class="logo">
          <img src="../static/angelfireLogo.png" alt="Logo" />
        </div>
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </div>
    </div>
    <div class="header-right">
      <div class="button" onclick="location.href='#menu'">Menu</div>
      <button class="logout-button">Log out</button>
    </div>
  </header>

  <div class="main">

    <div class="container image-text">
      <img src="../static/history.jpg" alt="About Image" class="top-image">
      <div class="placeholder">
        Now Angelfire has undergone another transformation. The version released in 2010 focuses primarily on 
        the site builder tool developed here at Lycos. Angelfire also has evolved its community outreach with Facebook, 
        Flickr, YouTube and Twitter accounts.
      </div>
    </div>

    <div class="container">
      <h2>Our History</h2>
      <div class="placeholder">
        <p>
          Angelfire has been providing web hosting services for about as long as they've been offered. Originally launched in 1996, the original version of Angelfire was a combination website building and medical transcription service. Back in those earliest days, every change to a page on a member site had to be approved by a moderator. Ahhh... the crazy days of the early Internet. Angelfire eventually dropped the transcription service. Its core business became web hosting services with free and paid membership plans. WhoWhere purchased Angelfire in 1997. Subsequently, Lycos purchased WhoWhere in 1998. Angelfire is still owned and operated by Lycos.
        </p>
        <p>
          Today, Angelfire continues to serve individuals and small businesses looking to create a presence online with ease. With ongoing updates to its site builder and integrations with social media platforms, it remains a reliable tool for website creation.
        </p>
      </div>
    </div>

  </div>

</body>
</html>
